<div class="container">
  <div class='row mt-5'>
    <h3>グループ一覧</h3>
    <div class="table-responsive">
      <table class="table mt-3">
        <tr>
          <th>グループ名</th>
          <th>説明</th>
          <th></th>
        </tr>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.name %></td>
            <td><%= group.description %></td>
            <td><%= link_to "掲示板へ", public_group_boards_path(group) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

