<div class="content">
  <h1>このサイトの参加にあたってのルール</h1>
  <p1>管理人が提示しているテーマに入って掲示板でお話ししてください</p1>
  <p1>掲示板等に投稿する際は、マナーを守ってください</p1>
  <p1>人に不愉快にさせる言葉は記載しないこと</p1>
  <p1>メッセージ等送る際も不愉快にならないよう注意してください</p1>
  <p1>提示されているテーマに自分の目的としたものがない場合、お問いあわせで管理者まで！</p1>
</div>
<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
       <%= image_tag 'rainbow.jpg' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'nature2.jpg' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'nature3.jpg' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'nature4.jpg' %>
    </div>
  </div>
  <!-- ページネーションの要素 -->
  <div class="swiper-pagination"></div>
  <!-- ナビゲーションボタン （前、次） -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>