<div class="swiper position-relative w-100 h-100">
  <div class="content text-center">
    <h3>このサイトの参加にあたってのルール</h3>
    <p class="p1">管理人が提示しているテーマに入って掲示板でお話ししてください</p>
    <p class="p1">掲示板等に投稿する際は、マナーを守ってください</p>
    <p class="p1">人に不愉快にさせる言葉は記載しないこと</p>
    <p class="p1">メッセージ等送る際も不愉快にならないよう注意してください</p>
    <p class="p1">提示されているテーマに自分の目的としたものがない場合、お問いあわせで管理者まで！</p>
  </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
         <%= image_tag 'nature.jpg', class: 'swiper__img' %>
      </div>
      <div class="swiper-slide">
         <%= image_tag 'nature1.jpg', class: 'swiper__img' %>
      </div>
      <div class="swiper-slide">
         <%= image_tag 'nature2.jpg', class: 'swiper__img' %>
      </div>
      <div class="swiper-slide">
         <%= image_tag 'nature3.jpg', class: 'swiper__img' %>
      </div>
    </div>
  </div>
</div>