<h1>トランスコネクト</h1>
<p>このサイトは</p>
<p>性同一性障害当事者</p>
<p>性同一性障害当事者の家族や友人</p>
<p>性同一性障害について理解を深めたい一般の方</p>
<p>向けに作成しています</p>
<p>日常生活での悩みや不安を抱えた時に、同じ経験を持つ人からアドバイスをもらう</p>
<p>自身の経験談を共有することで、他の当事者の支えになりたい時</p>
<p>性同一性障害について理解を深めたい時に、当事者の生の声を知る</p>
<p>孤独感を感じた時に、同じ境遇の人と繋がりを持ちたい時</p>
