$("#follow-form-<%= @user.id %>").html("<%= j(render "public/relationships/btn", user: @user) %>");
$("#message').append("<p style='text-align: left;'><%= @chat.message %></p>");

$('input[type=text]').val("")
