<table class="table">
        <thead>
          <tr>
            <th>タグ</th>
            <th>掲示板タイトル</th>
            <th>リンク</th>
          </tr>
        </thead>
        <tbody>
          <% @tags.each do |tag| %>
            <% tag.boards.each do |board| %>
              <tr>
                <td><%= tag.name %></td>
                <td><%= board.title %></td>
                <td>
                  <% if board.user_id == current_user.id || board.public_status? %>
                    <%= link_to '掲示板へ', public_group_boards_path(board.group_id), class: "btn btn-link" %>
                  <% else %>
                    非公開です
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>