@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  margin: 50px 0;
}
.box {
  height: 300px;
  width: 600px;
  margin: 0 auto 50px;
  background-color: #eee;
}
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#back img {
  width: 50px;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #e0f7fa,#b2ebf2,#80deea, #b3e5fc, #e1f5fe);
  background-size: 100% 100%;
}
/* aboutページの文字指定 */
.content {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  height: 100vh; 
  z-index: 100;
}
.p2 {
  color: red;
}

.profile {
    justify-content: center;
    text-align: center;
    float: right;
}

.profile-img {
    width: 50px;  
    height: 50px; 
    float: right; 
    margin-top: 30px; 
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

.text-blue {
  color: #007bff; 
}

.navbar-item {
  letter-spacing: 10px;
  display: flex;
  justify-content: flex-end; 
  flex-direction: row; 
  list-style: none;
  padding-left: 0;
}

.swiper__img {
  height: calc(100vh - 80px - 56px);
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 991.98px) {
  .swiper__img {
    height: calc(100vh - 53px - 56px);
  }
}

.navbar-custom {
  background-color: #EAF4FF; 
}
.nav-link.text-blue {
  color: #007bff; 
}
@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 14px; 
    }
    .navbar-brand {
        font-size: 18px; 
    }
    .navbar-toggler {
        font-size: 12px; 
    }
}
/* ヘッダーのハンバーガーの色指定 */
.navbar-toggler .navbar-toggler-icon {
    background-image: none; /* 画像を使用しない */
    background-color: #007bff; /* 青色を指定 */
}
.nowrap{
  white-space: nowrap;
}
/* テーブルの基本スタイル */
.table {
    border: 1px solid #858585;
}

/* スマートフォン用のスタイル */
@media screen and (max-width: 767px) {
    .table thead {
        display: none;
    }
    .table tbody tr {
        display: block;
        border-bottom: 1px solid #858585;
    }
    .table tbody th,
    .table tbody td {
        display: list-item;
        list-style: none;
        border-bottom: none;
    }
}

/* タブレット以上の画面サイズでのスタイル */
@media screen and (min-width: 768px) {
    .table {
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd
    }
    .table tbody tr {
        display: table-row;
    }
    .table tbody th,
    .table tbody td {
        border-right: none;
        border-left: none;
        display: table-cell;
        border-bottom: none;
    }
}

.arrow_box{
    position:relative;
    width:100px;
    height:70px;
    background:#3FE6DA;
    padding:20px;
    text-align:left;
    color:#333333;
    font-size:14px;
    font-weight:bold;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
}
.arrow_box:after{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    border-color: rgba(63, 230, 218, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:30px;
    border-right-width:30px;
    margin-top: -10px;
    border-right-color:#3FE6DA;
    right:100%;
    top:50%;
}
.arrow_box2{
    position:relative;
    width:100px;
    height:70px;
    background:#3DE680;
    padding:20px;
    text-align:left;
    color:#333333;
    font-size:14px;
    font-weight:bold;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
}
.arrow_box2:after{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    border-color: rgba(61, 230, 128, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:30px;
    border-right-width:30px;
    margin-top: -10px;
    border-left-color:#3DE680;
    left:100%;
    top:50%;
}
.p1{
  color: #3626E0; 
}