body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #e0f7fa,#b2ebf2,#80deea, #b3e5fc, #e1f5fe);
  background-size: 100% 100%;
}
/* aboutページの文字指定 */
.content {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  height: 100vh; 
}
.p2 {
  color: red;
}

.profile {
    justify-content: center;
    text-align: center;
    float: right;
}

.profile-img {
    width: 50px;  
    height: 50px; 
    float: right; 
    margin-top: 30px; 
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

.text-blue {
  color: #007bff; 
}

.navbar-item {
  letter-spacing: 10px;
  display: flex;
  justify-content: flex-end; 
  flex-direction: row; 
  list-style: none;
  padding-left: 0;
}

.background-image {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-image: url('rainbow.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  margin: 0; 
  padding: 0; 
  z-index: -1; 
}

.navbar-custom {
  background-color: #EAF4FF; 
}
.nav-link.text-blue {
  color: #007bff; 
}
@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 14px; 
    }
    .navbar-brand {
        font-size: 18px; 
    }
    .navbar-toggler {
        font-size: 12px; 
    }
}
/* ヘッダーのハンバーガーの色指定 */
.navbar-toggler .navbar-toggler-icon {
    background-image: none; /* 画像を使用しない */
    background-color: #007bff; /* 青色を指定 */
}
/* テーブルの基本スタイル */
.table {
    border: 1px solid #858585;
}

/* スマートフォン用のスタイル */
@media screen and (max-width: 767px) {
    .table thead {
        display: none;
    }
    .table tbody tr {
        display: block;
        border-bottom: 1px solid #858585;
    }
    .table tbody th,
    .table tbody td {
        display: list-item;
        list-style: none;
        border-bottom: none;
    }
}

/* タブレット以上の画面サイズでのスタイル */
@media screen and (min-width: 768px) {
    .table {
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
    .table tbody tr {
        display: table-row;
    }
    .table tbody th,
    .table tbody td {
        border-right: 1px solid #ddd;
        display: table-cell;
        border-bottom: none;
    }
}
