body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.content-center {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 50vh;
}
.content {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  height: 100vh; 
}
.p2 {
  color: red;
}

.profile {
    justify-content: center;
    text-align: center;
    float: right;
}

.profile-img {
    width: 50px;  
    height: 50px; 
    float: right; 
    margin-top: 30px; 
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

.text-blue {
  color: #007bff; 
}

.navbar-item {
  letter-spacing: 10px;
  display: flex;
  justify-content: flex-end; 
  flex-direction: row; 
  list-style: none;
  padding-left: 0;
}

.background-image {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-image: url('rainbow.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  margin: 0; 
  padding: 0; 
  z-index: -1; 
}

.navbar-custom {
  background-color: #FFFF99; 
}
.nav-link.text-blue {
  color: #007bff; 
}
@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 14px; 
    }
    .navbar-brand {
        font-size: 18px; 
    }
    .navbar-toggler {
        font-size: 12px; 
    }
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
