 <% flash.each do |type, message| %>
  <!--<div class="<%= type %>"><%= message %></div>-->
  <div class="alert alert-<%= type == "danger" ? "danger" : "warning"%>" role="alert">
   <%= message %>
  </div>
<% end %>