<footer class="footer" style="background-color: #FFFDDE;">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center" style="text-color: #396B80;">
        <p class="m-0 py-3">TRANCE CONECT</p>
      </div>
    </div>
  </div>
</footer>
