<footer class="footer mt-auto py-3" style="background-color: #a0522d;">
  <div class="container">
    <div class="row">
      <div class='col-12 text-center text-white'>
        <p>TRANCE CONECT</p>
      </div>
    </div>
  </div>
</footer>
